.tracking-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tracking-section__title {
  margin: 0;
  color: #ffffff;
  font-weight: bolder;
}

.tracking-section__icon {
  color: #ffd600 !important;
}

.tracking-section__content {
  overflow-y: auto;
  margin-top: 8px;
  height: 90vh;
}

.tracking-section__content::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
