@font-face {
  font-family: 'Nexa';
  src: url('./Fonts/NexaThin.otf') format('opentype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Nexa';
  src: url('./Fonts/NexaLight.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Nexa';
  src: url('./Fonts/NexaRegular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Nexa';
  src: url('./Fonts/NexaXBold.otf');
  font-weight: bolder;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3d3c3c;
  font-family: 'Nexa', sans-serif;
}
